.time__clock {
    text-align: center;
}

.time__current-time {
    font-size: 30px;
    font-weight: 700;
    margin: 5px 0;
}

.time__table {
    min-height: 260px;
    margin: 0 0 30px 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.time__table-col {
    display: inline-block;
    width: 50%;
    padding: 0 10px 0 0;
    word-break: break-all;
}

.time__table > li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
